<button (click)="sortByAsccending()">正序排列</button>
<button (click)="sortByDesccending()">倒序排列</button>
<button (click)="sortByRadom()">随机打乱</button>
<button (click)="deleteLast()">删除最后一个</button>
<button (click)="saveNewUser()">新增一个</button>
<table>
  <tbody>
    <tr>
      <th>rank </th>
      <th>name </th>
      <th>nationality </th>
      <th>goal </th>
      <th>match</th>
      <th>club </th>
      <th>title </th>
    </tr>
  </tbody>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.rank}}</td>
      <td>{{user.name}}</td>
      <td>{{user.nationality}}</td>
      <td>{{user.goal}} </td>
      <td>{{user.match}}</td>
      <td>{{user.club}}</td>
      <td>{{user.title}}</td>
    </tr>
  </tbody>
</table>
